.search__input {
    padding: 1.2rem 1rem 1.2rem 4rem;
    height: 40px;
    font-size: 0.9rem;
    color: #4a4a4a;
    border: none;
    border-radius: 0;
    right: 0;
    letter-spacing: .05rem;
    background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ececec;
    background-repeat: no-repeat;
    background-position: 1rem 50%;
    background-size: 2rem;
    outline: 0;
    transition: background .3s ease-out, opacity .4s ease-out;
    }
    .search__input:focus {
      background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat 1rem 50% #FFFFFF;
      background-size: 2rem;
    }
  
.search__btn {
    background: #4a4a4a;
    height: 41px;
    border: none;
    width: 120px;
    color: #FFF;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
    outline: 0;
    transition: all .3s ease-out;
    }
    
    .search__btn:hover {
      background: black;
    }
